#cloud-config
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDIAcA6be3lohqZHrOhTZ0YIwvYeuxKWiTV72Rnn5s/tcwNMWsOiAf+oYJ+/Ia09pgP1Vk3bbAFG0Up6vdKPLDgp1mLrP8MW1RyVlsKLPHgH6HLGoSDg25zeIz70y3gcfsyYNAyNTDt73Fssw7fQsJ+E0qzCgBLV5NSM8wz7qq7pfhRqCrePdfOmFSbHR1Z9qXxhRo0OfXKPmTfNHHZWJnO+YGsuVa49twKKHGmDa+XQzgskjUiLyNPTXTUFzWp+iWpf7QHx8y+Hwpqu50k8uLXt/0funPmqE6u6vLB6ZOOerqS/zUmj22+IpP+PKfI2EtdcunVVdte+FA8emuj03Hdsx+bOUMjYTKjeajWFJLGpgag8WXIvKkvjayQ7xJCspFr5H9/BcagHD7eYRF4ouuVr3Qi3JKq8G6O4t8ZTjDbvR6MrbNBUsEm6SkgpXpYN6z2Lv1A2SNn/N6Xn6aro7L0d5AZDRnmxQpQlG+BMqShdn8b1zJTijHbxtvoEW+S/x9w5MPU/kpiyT4ytL8g/9k2QniS0uTd4t5S062W9/CzXuYJ91/7vgIPE0RgQqu1pDIgXdY4WCGYM5LcWv1I/HgOtFk7JUz4jIjGiwIotTtN0eBvu5QKtZjDaXl1V8CMnE0Ssl599JPrB1PJRCaSY6YjfvjKukHV87LVvEX/2l5JzQ==
